{% extends 'plantilla.html' %}
{% block title %}Añadir libro{% endblock %}
{% block content %}
<div class="container text-center">
    <br>
    <h1>Agregar libro</h1>
    <br>
    <form method="post" action="{{ url_for('agregar_libro') }}">
        <div class="mb-3">
            <label for="nameBook" class="form-label">Nombre del libro</label>
            <input type="text" class="form-control" id="nameBook" name="nameBook" required maxlength="120">
        </div>
        <div class="mb-3">
            <label for="autorBook" class="form-label">Autor</label>
            <input type="text" class="form-control" id="autorBook" name="autorBook" maxlength="64">
        </div>
        <div class="mb-3">
            <label for="datePublished" class="form-label">Fecha de publicación</label>
            <input type="date" class="form-control" name="datePublished" id="datePublished">
        </div>
        <div class="mb-3">
            <label for="numberPages" class="form-label">Número de páginas</label>
            <input type="number" class="form-control" id="numberPages" name="numberPages" required>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{%endblock %}